.dragicon {
    -fx-background-radius: 10;
    -fx-background-color: rgb(80,200,240);
    -fx-background-radius: 10 10 10 10;
}

.node-overlay {
    -fx-background-radius: 10 10 0 0;
    -fx-background-color:
            linear-gradient(to bottom, rgba(255,255,255,0.7) 15%, rgba(50,100,150,0.45) 100%);

}

.node-focus {
    -fx-border-color: blue;
    -fx-border-radius: 10 10 10 10;
}

.right-link-handle:hover {
    -fx-background-radius: 0 0 10 0;
    -fx-background-color:
            rgba(255, 255, 255, 0.35);
}

.left-link-handle:hover {
    -fx-background-radius: 0 0 0 10;
    -fx-background-color:
            rgba(255, 255, 255, 0.35);
}

.icon-blue {
    -fx-background-color: rgb(80,200,240);
    -fx-background-radius: 0 0 10 10;
}

.icon-red {
    -fx-background-color: rgb(200,0,0);
    -fx-background-radius: 0 0 10 10;
}

.icon-green {
    -fx-background-color: rgb(0,200,0);
    -fx-background-radius: 0 0 10 10;
}

.icon-purple {
    -fx-background-color: rgb(0,200,0);
    -fx-background-radius: 0 0 10 10;
}

.text-field.error {
    -fx-focus-color: #d35244;
    -fx-faint-focus-color: #d3524422;

    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color:
            -fx-focus-color,
            -fx-control-inner-background,
            -fx-faint-focus-color,
            linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}